:root {
  --primary-dark: #333;
}

body {
  font-family: montserrat, sans-serif;
  margin: 0px;
  color: var(--primary-dark);
}

#main {
  height: 100vh;
  position: relative;
}

.background-img {
  background-image: url(images/night.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#weather-container {
  /* border: 1px solid black; */
  /* background-color: rgba(255, 255, 255, 0.65); */
  /* box-shadow: 4px 4px; */
  border-radius: 25px;
  gap: 10px;

  display: flex;
  flex-direction: column;

  padding: 18px;
  width: 400px;

  position: absolute;
  top: 72px;
  left: 48px;
}

#weather-container #main-container {
  display: flex;
  flex-direction: column;
}

#main-container #weather {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4px;

  /* border: 1px solid black; */
}

#main-container #location {
  font-size: 20px;
  margin-bottom: 18px;

  /* border: 1px solid black; */
}

#main-container #icon-container {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-bottom: 18px;
}

#icon-container .weather-icon {
  font-size: 62px;
}

#icon-container #temperature {
  font-size: 48px;
  font-weight: 700;
}

#input-container {
  border-bottom: 1px solid black;
  background-color: white;
  opacity: 50%;

  /* position: absolute;
  top: 24px;
  left: calc(50% - 80px); */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  border-radius: 5px;
}

#input-container input {
  height: 24px;
  border: none;
  width: 120px;
}

#input-container input:focus {
  outline: none;
}

